
.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 5rem;
  font-weight: bold;
  font-size: 13px;
}
.candidateBtn {
  border: 1.4px solid #056374;
  background-color: #f2fdff;
  color: #03515f;
  border-radius: 0.2rem;
  padding: 0.4rem;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 1rem;
}
.tableHead{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
    overflow: auto;
  
  }
  
  .tableRow{
    display: flex;
    text-wrap: nowrap;
    text-align: left;
    gap: 1rem;
    
  }
  .employeeBtn{
    border: 1.4px solid #056374;
    background-color: #f2fdff;
    font-size: 11px;
    color: #03515f;
    border-radius: 0.2rem;
    padding: 0.2rem;
  }
  .tableText{
    font-size: 14px;
    width: 18%;
  }
  .tableCheck{
    width: 10%;
    text-align: center;
  }
  .bottomBtn{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14px;
    width: 97%;
    background-color: #03515f;
    padding: 0.8rem;
    border-radius: 0.1rem;
    margin: 0.5rem;
  }