/* .rolesComponent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55%;
    margin-left: 1rem;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 1px 1px rgb(242, 240, 240);
    border-radius: 0.3rem;
} */

/*  */

.mBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 5rem;
  font-weight: bold;
  font-size: 13px;
}

.canBtn {
  border: 1.4px solid #056374;
  background-color: #f2fdff;
  color: #03515f;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.sideSMenu {
    display: flex;
    height: auto;
    width: 95%;
    
  }
  .menuIcon {
    height: 100%;
    width: 5%;
    padding: 1.3rem;
  }
  .textMenu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    width: 90%;
    cursor: pointer;
  }
  .toggleBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    color: #054256;
  }
